<footer class="container-fluid bg-light footer">
  <div class="row">
    <section class="col">Colonne 1</section>
    <section class="col">&copy; ThomLG - 2022</section>
    <section class="col footerSection-3">
      <p class="footerSection-3">Suivez-nous !</p>
      <ul class="footerIconDiv">
        <li><i class="fa-brands fa-facebook fa-xl footerIcon"></i></li>
        <li><i class="fa-brands fa-twitter fa-xl footerIcon"></i></li>
        <li><i class="fa-brands fa-linkedin fa-xl footerIcon"></i></li>
      </ul>
    </section>
  </div>
</footer>
