{% extends 'base.html.twig' %}

{% block title %}
  Réinitialiser mot de passe
{% endblock %}

{% block body %}
  <section class="container my-3">
    <div class="row">
      <div class="col">
        <h1>Réinitialiser mot de passe</h1>

        {# Decomposition de notre formulaire pour que le bouton soit placé en bas et fonctionne (si on fait pas ça, il se trouvera en dehors de la balise form et ne fonctionnera pas) #}
        {{ form_start(requestPassForm) }}
        {{ form_row(requestPassForm.email) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(requestPassForm) }}
      </div>
    </div>
  </section>
{% endblock %}
