@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/**************************************** Menu navigation **********************************/
.navbar {
    background: #003566 !important;
    width: 100%;
}

.navbarDropdown {
    background: #003566 !important;
}

.navbarDropdown a:hover {
    background: #02519b;
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
    color: #ffd60a !important;
}

.navbarLogo {
    margin: 5px;
    height: 36px;
}

.navbarTitle {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.fa-user {
    color: white;
    margin: 5px;
}

.fa-hammer {
    color: white;
    margin: 5px;
}

.fa-power-off {
    color: white;
    margin: 5px;
}