{% extends 'base.html.twig' %}

{% block title %}
  Liste des habitations de la categorie {{ category.name }}
{% endblock %}

{% block body %}
  <main class="container">
    <section class="row">
      <div class="col-12">
        <h1>Liste des habitations de la categorie {{ category.name }}</h1>
      </div>
      {% if category.dwellings is empty %}
            <div>
              <p>Nous sommes navrés mais aucun logement n'est disponible en <i>{{ category.name}}</i></p>
            </div>
          {% endif %}
      {% for dwelling in category.dwellings %}
        {% include '_partials/_cards_dwelling.html.twig' %}
      {% endfor %}
    </section>
  </main>
{% endblock %}
