{% extends 'base.html.twig' %}

{% block body %}
  <main class="container">
    <section class="row">
      <div class="col-12">
        <h1>Accueil</h1>
      </div>

      <ul>
        {% for category in categories %}
          <a href="{{ path('app_category_name', { name: category.name }) }}">{{ category.name }}</a>
        {% endfor %}
      </ul>

      {% for dwelling in dwellings %}
        {% include '_partials/_cards_dwelling.html.twig' %}
      {% endfor %}
    </section>
  </main>
{% endblock %}
