{% extends 'base.html.twig' %}

{% block body %}
  <main class="container">
    <section class="row">
      <div class="col-12">
        <h1>Accueil</h1>
      </div>

      {% for category in categories %}
        {{ category.name }}
      {% endfor %}
      {% for dwelling in dwellings %}
        {{ dwelling.name }}
      {% endfor %}
      <div class="col-12">{{ dump() }}</div>
    </section>
  </main>
{% endblock %}
