{% extends 'base.html.twig' %}

{% block title %}
  Ajouter un logement
{% endblock %}

{% block body %}
  <main class="container">
    <h1>Ajouter un logement</h1>
    <li>
      <a href="{{ path('dwelling_admin_index') }}" class="btn formBtn m-5">Retour menu d'administration des logements</a>
    </li>

    {{ form(form) }}
  </main>
{% endblock %}
