{% extends 'base.html.twig' %}

{% block title %}Modifier un logement{% endblock %}

{% block body %}
<main class="container">
    <h1>Modifier un logement</h1>

     {{form(form)}}
</main>
{% endblock %}
