{% extends 'base.html.twig' %}

{% block title %}
  Modifier un logement
{% endblock %}

{% block body %}
  <main class="container">
    <h1>Modifier un logement</h1>
    <li>
      <a href="{{ path('dwelling_admin_index') }}" class="btn formBtn m-5">Retour menu d'administration des logements</a>
    </li>

    {{ form(form) }}
    {% if form.picture.vars.data %}
      <img src="{{ asset('/uploads/images/' ~ form.picture.vars.data) }}" />
      <p>{{ form.picture.vars.data }}</p>
    {% endif %}
  </main>
{% endblock %}
