body {
  background: whitesmoke;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  background: grey !important;
}

.navbar a {
  color: white !important;
}

.card {
  margin: 10px;
}

.footer {
  background: grey !important;
  color: white;
  text-align: center;
}
